@import 'hafca/global';
@import 'hafca/header';
@import 'hafca/breadcrumbs';


#main {
  padding-top: 89px;
  #content {
    padding: $global-padding;
    background-color: $white;
  }
}
body.home {
  #main {
    #content {
      padding: 0 15px;
    }
  }

}
#footer {
  background-color: $white;
  padding-left: 0;
  padding-right: 0;
}
.full-width {
  width: 100%;
  max-width: 100%;
}

.th {
  max-width: $global-width;
}

ul.unstyled {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
// footer CSS
.margin-top {
  margin-top: 75px;
}
.footer {
  background-color: $white;
  padding: 2rem 0rem;
  color: $dark-gray;
  font-size: rem-calc(14);
  clear: both;
  h4 {
    color: $warning-color;
    font-family: 'SourceSansProBold';
    font-size: rem-calc(16);
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
    text-transform: uppercase;
    span {
      padding-bottom: 7px;
      display: inline-block;
      margin-bottom: -1px;
      border-bottom: 1px solid #763C8E;
    }
  }
  .copyright {
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    color: #646464;
    margin: 30px 0;
    padding: 10px 0 8px;
  }
}

@include breakpoint(large only) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($primary-color, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}


.colorful.row {
  background: url(../images/colorful-line.jpg) center top repeat-x;
  height: 3px;
  float: left;
  width: 100%;
}

/* Home */
.home-box {
  color: $white;
  float: left;
  font-size: 14px;
  padding: 0;
  min-height: 285px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 1;
    background-size: cover;
    background-position: center;
  }
  .content {
    h5 {
      text-align: center;
      text-decoration: underline;
    }
    width: 100%;
    padding: $global-padding;
    position: relative;
    z-index: 2;
    p.title {
      margin: 0;
      font-weight: bold;
    }
  }
  &:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  &.one {
    background: $blue;
    .background {
      background-image: url(../images/addiction-medicine/background.jpg);
    }
    &:hover {
      background: $orange;
    }
  }
  &.two {
    background-color: $purple;
    .background {
      background-image: url(../images/hafc/background.jpg);
    }
    &:hover {
      background: $peach;
    }
  }
  &.three {
    background-color: $peach;
    .background {
      background-image: url(../images/haight-ashbury/background.jpg);
    }
    &:hover {
      background: $purple;
    }
  }
  &.four {
    background-color: $orange;
    .background {
      background-image: url(../images/resources/background.jpg);
    }
    &:hover {
      background: $blue;
    }
  }
}
